.content{
    line-height: .1rem;
    margin-left: 15px;
}
.header{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    
}
.colorHeader{
    color: rgb(238 149 149 / 60%);
    font-size: 15px;
    font-weight: 400;
}
.largeHeader{
        color: rgb(240 117 117);
        font-weight: bold;
        min-width: 21.4rem;
}
.description{
    color:rgb(136, 132, 132);
    font-size:10px ;
    word-spacing: 1px;
    max-width: 246px;
    line-height: normal;
}
.colorDescription{
    color: rgb(136, 132, 132);
    font-size: 10px;
    word-spacing: 1px;
    max-width: 305px;
    line-height: normal;
}